@import "../../../partials/_partial.scss";

.topBar {
  background-color: #b29bbd;
  height: 55px;
  // display: flex;
  // justify-content: flex-end;
  @include tablet {
  }
}

.cart__container {
  // margin-right: 150px;
  display: flex;
  border-right: 0 px;
  justify-content: space-around;
  width: auto;
  margin-right: 20 px;
  padding-top: 15px;
  @include tablet {
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
  }
}

.topBar__search {
  margin-top: 3px;
}

.topBar__searchInput {
  border-radius: 3px;
}

.topBar__cart {
  display: flex;
  align-items: center;
}

/* .hero {
  display: flex;
} */

.hero__txt {
  margin-right: 30px;
  font-size: 8px;
  @include tablet {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.hero__logo {
  display: flex;
  justify-content: center;
}

.hero__navbar {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-left: 20px;
  @include tablet {
    padding-top: 10px;
  }
}

.hero__logo--pic {
  width: 225px;
  justify-content: center;
}
